.inventory-button {
  position: absolute;
  top: 50px;
  left: 10px;
  background-color: white;
  opacity: 0.8;
  /* display: inline-block; */
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 0px;
}

img {
  width: 50px;
  height: 50px;
  margin-left: 5%;
}

.inventory-overlay {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
}

.left {
  justify-content: center;
  align-items: center;
  width: 33%;
}

.center {
  justify-content: center;
  align-items: center;
  width: 33%;
}

.right {
  justify-content: center;
  align-items: center;
  width: 34%;
}

.state-box-container {
  /* width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/

  justify-content: center;
  align-items: center;

  display: inline-grid;
  grid-template-columns: auto;

  /* overflow: auto; */
  /* grid: repeat(2, 60px) / auto-flow 80px; */
  column-gap: 30px;
  row-gap: 50px;
}

.state-box {
  cursor: pointer;
  /* width: 100px; */
  /* height: 100px; */
  /* background: blue; */
  border: 1px solid #000;
  /* place-items: center; */
  display: grid;
  column-gap: 8px;
  /* row-gap: 10px; */

  /* justify-content: center; */
  align-items: center;

  /* background-color: lightblue; */
  width: 250px;
  height: 80px;
}

.state-img-container {
  grid-row: 1;
  width: 40px;
  height: 40px;
  background-color: black;
}

.state-rect-indicator-red {
  grid-row: 1;
  width: 20px;
  height: 40px;
  background-color: red;
}

.state-rect-indicator-blue {
  grid-row: 1;
  width: 20px;
  height: 40px;
  background-color: blue;
}

.item-box-container {
  /* width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/

  position: relative;
  display: inline-grid;
  grid-template-columns: auto auto;

  /* overflow: auto; */
  /* grid: repeat(2, 60px) / auto-flow 80px; */
  column-gap: 30px;
  row-gap: 50px;
}

.item-box {
  cursor: pointer;
  /* width: 100px; */
  /* height: 100px; */
  /* background: blue; */
  border: 1px solid #000;
  /* place-items: center; */

  background-color: lightgreen;
  width: 80px;
  height: 80px;
}

.stack-display {
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  right: 107px;
  top: -1.5vh;
  background-color: white;
  height: 3vh;
  width: 2vw;
  text-align: center;
  justify-content: center;
  align-items: center;
}
