html,
body {
  margin: 0;
  height: 100%;
  /* background-color: blueviolet; */
}

.mainDivFullScreen {
  margin: 0;
  height: 100vh;
  /* background-image: url(/Users/alois/DocumentHL/ApprentissageHTML/JeuxHexagone/src/Assets/Bloup.png); */
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
}

.subLeft-Grig {
  width: 100%;
  height: 100%;
  background-image: url("/src/Assets/Bloup.png");
  background-repeat: repeat;
  margin: 0;
  display: block;
  place-items: center;
  text-align: center;
}

.subRight-CurrentUnitDisplay-Encounter {
  width: 50%;
  height: 100%;
  background-color: chartreuse;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.topRight-CurrentUnitDisplay {
  width: 20%;
  height: 20%;
  background-color: chocolate;
  margin: 0;
  z-index: 1000000;
  position: absolute;
  top: 0;
  left: 80%;
}

.downRight-encounter {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: white;
  margin: 0;
  z-index: 1000000;
}
